{
  "openapi": "3.0.1",
  "info": {
    "title": "API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://stagingapi.smokeball.com.au",
      "description": "Staging API"
    }
  ],
  "paths": {
    "/bankaccountbalances/{id}": {
      "get": {
        "tags": [
          "BankAccountBalances"
        ],
        "summary": "Get bank account balance.",
        "description": "Sample request:\r\n            \r\n    GET /bankaccountbalances",
        "operationId": "GetBankAccountBalanceById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bank account balance",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountBalance"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountBalance"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountBalance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/bankaccounts/{id}": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Get bank account.",
        "description": "Sample request:\r\n            \r\n    GET /bankaccount",
        "operationId": "GetBankAccountById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bank account",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/bankaccounts": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Get bank accounts.",
        "description": "Sample request:\r\n            \r\n    GET /bankaccounts",
        "operationId": "GetBankAccounts",
        "responses": {
          "200": {
            "description": "Returns the bank accounts",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountCollection"
                }
              }
            }
          }
        }
      }
    },
    "/activitycodes/{id}": {
      "get": {
        "tags": [
          "ActivityCodes"
        ],
        "summary": "Get activity code.",
        "description": "Sample request:\r\n            \r\n    GET /activitycodes",
        "operationId": "GetActivityCodeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id of the activity code to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the activity code.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Activity code not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ActivityCodes"
        ],
        "summary": "Updates an activity code.",
        "description": "Sample request:\r\n            \r\n    PUT /activitycodes",
        "operationId": "UpdateActivityCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id of the activity code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated activity code.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ActivityCodes"
        ],
        "summary": "Delete an activity code.",
        "description": "Sample request:\r\n            \r\n    DELETE /actvitycodes",
        "operationId": "DeleteActivityCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The activity code has been deleted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activitycodes": {
      "get": {
        "tags": [
          "ActivityCodes"
        ],
        "summary": "Get activity codes.",
        "description": "Sample request:\r\n            \r\n    GET /activitycodes",
        "operationId": "GetActivityCodes",
        "parameters": [
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Timestamp in ticks. Use this to only get activity codes which have been updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the activity codes",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityPagedCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityPagedCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityPagedCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ActivityCodes"
        ],
        "summary": "Creates an activity code.",
        "description": "Sample request:\r\n            \r\n    POST /activitycodes",
        "operationId": "CreateActivityCode",
        "requestBody": {
          "description": "The created activity code.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts.",
        "description": "Sample request:\r\n            \r\n    GET /contacts",
        "operationId": "GetContacts",
        "parameters": [
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Timestamp in ticks. Use this to only get contacts which have been updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            }
          },
          {
            "name": "Search",
            "in": "query",
            "description": "email, phone, name",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the contacts",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPagedCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPagedCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPagedCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact.",
        "description": "Sample request:\r\n            \r\n    POST /contacts",
        "operationId": "CreateContact",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The contact has been accepted and will be created shortly",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact.",
        "description": "Sample request:\r\n            \r\n    GET /contacts/{id}",
        "operationId": "GetContactById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the contact",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Updates a contact.",
        "description": "Sample request:\r\n            \r\n    PUT /contacts/id",
        "operationId": "UpdateContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The contact has been accepted and will be updated shortly",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deletes a contact.",
        "description": "Sample request:\r\n            \r\n    DELETE /contacts/id",
        "operationId": "DeleteContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted and will be deleted shortly",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/documents/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Gets a list of files on a matter",
        "description": "GET /matters/{matterId}/files",
        "operationId": "GetFiles",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of files on a matter",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FilePagedCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilePagedCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilePagedCollection"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Adds a file to a matter",
        "operationId": "AddFile",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddFileDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFileDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFileDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddFileDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Returns the file location and upload url",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request if the file name does not contain valid XML characters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/documents/files/{fileId}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Gets a file",
        "description": "GET /matters/{matterId}/files/{fileId}",
        "operationId": "GetFileById",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the file",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Files"
        ],
        "summary": "Update a file's metadata or upload a new version of the file",
        "operationId": "UpdateFile",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EditFileDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditFileDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EditFileDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EditFileDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Returns the file location and upload url",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/documents/files/{fileId}/download": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Gets the download url for a file",
        "operationId": "DownloadFile",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the file download metadata",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadFileInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadFileInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadFileInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/documents/files/{fileId}/upload": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Gets the upload url for a file",
        "operationId": "UploadFile",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the file upload url",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/documents/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Gets the root folder of a matter and a list of sub folders and files",
        "operationId": "GetFolders",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the sub folders and files in the root folder",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListingPagedCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListingPagedCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListingPagedCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Creates a folder",
        "operationId": "CreateRootFolder",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The folder has been accepted and will be created shortly",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request if the folder name is empty or the parent folder is specified but doesn't exist.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/documents/folders/{folderId}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Gets a folder and a list of sub folders and files",
        "operationId": "GetFolderById",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the sub folders and files in the folder",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListingPagedCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListingPagedCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderListingPagedCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Folders"
        ],
        "summary": "Update a folder",
        "operationId": "UpdateFolder",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FolderDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Returns the folder location",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Folder not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/expenses": {
      "get": {
        "tags": [
          "Expenses"
        ],
        "summary": "Get expenses.",
        "description": "Sample request:\r\n            \r\n    GET /expenses",
        "operationId": "GetExpenses",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Timestamp in ticks. Use this to only get expenses which have been updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1.0
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the expenses",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensePagedCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensePagedCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensePagedCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Expenses"
        ],
        "summary": "Creates an expense on a matter.",
        "operationId": "CreateExpense",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "The id of the matter the expense should be linked to.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The created expense.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Expenses"
        ],
        "summary": "Delete an expense.",
        "description": "Sample request:\r\n            \r\n    DELETE /expenses",
        "operationId": "DeleteExpense",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The expense has been deleted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/expenses/{id}": {
      "put": {
        "tags": [
          "Expenses"
        ],
        "summary": "Updates an expense on a matter.",
        "operationId": "UpdateExpense",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "The id of the matter the expense should be linked to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id of the expense",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated expense.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Expenses"
        ],
        "summary": "Get an expense by id.",
        "operationId": "GetExpenseById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id of the expense to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the expense.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Expense not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/expenses/{expenseId}/attachment": {
      "post": {
        "tags": [
          "Expenses"
        ],
        "summary": "Gets the upload url for uploading an expense.",
        "operationId": "PostAttachment",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "description": "The id of the matter the expense belongs to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expenseId",
            "in": "path",
            "required": true,
            "description": "The id of the expense which should have the attachment added.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object containing details about the attachment (e.g. file name).",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddAttachmentDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAttachmentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAttachmentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddAttachmentDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the file upload url.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AddAttachmentInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAttachmentInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAttachmentInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Expense not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/expenses/upload": {
      "post": {
        "tags": [
          "Expenses"
        ],
        "operationId": "UploadAttachment",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AddAttachmentInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAttachmentInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAttachmentInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/fees": {
      "get": {
        "tags": [
          "Fees"
        ],
        "summary": "Get fees.",
        "description": "Sample request:\r\n            \r\n    GET /fees",
        "operationId": "GetFees",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Timestamp in ticks. Use this to only get fees which have been updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647.0,
              "minimum": 1.0
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500.0,
              "minimum": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the fees",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FeePagedCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeePagedCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeePagedCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fees"
        ],
        "summary": "Create a fee.",
        "description": "Sample request:\r\n            \r\n    POST /fees",
        "operationId": "CreateFee",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/FeeDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FeeDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The fee has been accepted and will be created shortly",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/matters/{matterId}/fees/{id}": {
      "get": {
        "tags": [
          "Fees"
        ],
        "summary": "Get a fee.",
        "description": "Sample request:\r\n            \r\n    GET /fees/{id}",
        "operationId": "GetFeeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the fee",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Fee not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Fees"
        ],
        "summary": "Update a fee.",
        "description": "Sample request:\r\n            \r\n    PUT /fees",
        "operationId": "UpdateFee",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/FeeDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FeeDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The fee has been accepted and will be updated shortly",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Fees"
        ],
        "summary": "Delete a fee.",
        "description": "Sample request:\r\n            \r\n    DELETE /fees",
        "operationId": "DeleteFee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The fee has been deleted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/firm": {
      "get": {
        "tags": [
          "Firm"
        ],
        "summary": "Get firm.",
        "description": "Sample request:\r\n            \r\n    GET /firm",
        "operationId": "GetFirm",
        "responses": {
          "200": {
            "description": "Returns the firm",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Firm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Firm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Firm"
                }
              }
            }
          },
          "404": {
            "description": "If the firm doesn't exist",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Firm"
        ],
        "summary": "Create a firm.",
        "description": "Sample request:\r\n            \r\n    POST /firm\r\n    {\r\n       \"Firm\": {\r\n           \"Name\": \"Brown LLC\",\r\n           \"StreetAddress\": {\r\n               \"State\": \"NSW\",\r\n           }\r\n           \"Phone\": {\r\n               \"AreaCode\": \"555\",\r\n               \"Number\": \"1234567\"\r\n           }\r\n        },\r\n        \"Staff\": {\r\n            \"UserId\": \"b471682e-fa17-4e46-b7fe-9b2b8fdcb3c2\",\r\n            \"FirstName\" \"Bob\",\r\n            \"LastName\": \"Jones\",\r\n            \"Initials\": \"BJ\",\r\n        }\r\n    }",
        "operationId": "CreateFirm",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFirmDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFirmDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFirmDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFirmDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Returns the firm id and location",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "The firm already exists"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Firm"
        ],
        "summary": "Update firm.",
        "description": "Sample request:\r\n            \r\n    PUT /firm\r\n    {\r\n       \"Name\": \"Brown LLC\",\r\n       \"StreetAddress\": {\r\n           \"State\": \"NSW\",\r\n       }\r\n       \"Phone\": {\r\n            \"AreaCode\": \"555\",\r\n            \"Number\": \"1234567\"\r\n        }\r\n    }",
        "operationId": "UpdateFirm",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/FirmDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirmDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FirmDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FirmDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Returns the firm id and location",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "If the firm doesn't exist",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/firmusers": {
      "get": {
        "tags": [
          "FirmUsers"
        ],
        "summary": "Get firm staff user mapping(s).",
        "description": "Sample request:\r\n            \r\n    GET /firmusers",
        "operationId": "GetUserMappings",
        "responses": {
          "200": {
            "description": "Returns the firm user mappings"
          },
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "FirmUsers"
        ],
        "summary": "Update firm staff user mapping.",
        "description": "Sample request:\r\n            \r\n    PUT /firmusers",
        "operationId": "UpdateUserMapping",
        "parameters": [
          {
            "name": "staffId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping was updated successfully"
          },
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "If the staff member doesn't exist",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "FirmUsers"
        ],
        "summary": "Delete firm staff user mapping.",
        "description": "Sample request:\r\n            \r\n    DELETE /firmusers",
        "operationId": "DeleteUserMapping",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping was deleted successfully"
          },
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "If the user doesn't exist",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/staff": {
      "get": {
        "tags": [
          "Staff"
        ],
        "summary": "Get staff in a firm.",
        "description": "Sample request:\r\n            \r\n    GET /staff",
        "operationId": "GetStaff",
        "parameters": [
          {
            "name": "Search",
            "in": "query",
            "description": "email, name",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all staff",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StaffPagedCollection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffPagedCollection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffPagedCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Staff"
        ],
        "summary": "Create a staff member.",
        "description": "Sample request:\r\n            \r\n    POST /staff",
        "operationId": "CreateStaff",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The staff member has been accepted and will be created shortly",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/staff/{id}": {
      "get": {
        "tags": [
          "Staff"
        ],
        "summary": "Get a staff member.",
        "description": "Sample request:\r\n            \r\n    GET /staff/{id}",
        "operationId": "GetStaffById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the staff member",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Staff"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Staff"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Staff"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "If the firm doesn't exist",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Staff"
        ],
        "summary": "Updates a staff member.",
        "description": "Sample request:\r\n            \r\n    PUT /staff/{id}",
        "operationId": "UpdateStaff",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/StaffDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The staff member has been accepted and will be updated shortly",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
[...]
